openapi: 3.1.0
info:
  title: OS Hub API Design - V1
  summary: This is Target API Design for OS Hub, at this point in time it is a proposal and not a final design.
  description: This specification outlines proposed API design for OS Hub to facilitate discussions and gather feedback before development begins.
  version: 1.0.0
servers:
  - url: https://opensupplyhub.org/api
    description: Production environment
tags:
  - name: beta
    description: APIs are implemented and ready for beta testing
  - name: countries
    description: Operations related to countries
  - name: sectors
    description: Operations related to sectors
  - name: product-types
    description: Operations related to product types
  - name: location-types
    description: Operations related to location types
  - name: parent-companies
    description: Operations related to parent companies
  - name: contributors
    description: Operations related to contributors
  - name: production-locations
    description: Operations related to production locations
  - name: moderation-events
    description: Operations related to moderation events
paths:
  /v1/contributors/:
    get:
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after
          in: query
          description: Cursor for the pagination, needs to be value from the field used in `sort_by` param.
          required: false
          schema:
            type: string
        - name: email
          in: query
          description: Filter using the email of the contributor.
          required: false
          schema:
            type: string
            format: email
            minLength: 1
            maxLength: 255
        - name: has_contributed
          in: query
          description: Filter using the boolean value of whether the contributor has contributed.
          required: false
          schema:
            type: boolean
        - name: account_type
          in: query
          description: Filter using the account type of the contributor.
          required: false
          schema:
            type: string
            enum: [individual, organization]
        - name: individual_role
          in: query
          description: Filter using the individual role of the contributor.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: organization.organization_type
          in: query
          description: Filter using the organization type of the contributor.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: organization.website_url
          in: query
          description: Filter using the website URL of the organization.
          required: false
          schema:
            type: string
            format: uri
            minLength: 1
            maxLength: 255
        - name: organization.name
          in: query
          description: Filter using the name of the organization.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: organization.description
          in: query
          description: Filter using the description of the organization.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: organization.country
          in: query
          description: Filter organization country using the alpha-2, alpha-3 or numeric code.
          required: false
          schema:
            type: string
            minLength: 1
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            default: name
            enum: [email]
        - $ref: "#/components/parameters/order_by"
        - name: fields
          in: query
          description: The fields to include in the response.
          style: explode
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                [
                  email,
                  has_contributed,
                  account_type,
                  individual_role,
                  organization,
                ]
      summary: Get list of contributors to the OS Hub platform.
      description: >
        Returns an array of contributors with name and id, where id is the unique identifier of the contributor.
      tags:
        - contributors
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/contributor"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request query is invalid."
                errors:
                  - field: "email"
                    detail: "The value must be a valid email."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    post:
      summary: Create a new contributor.
      description: >
        Creates a new contributor with the given details.
      tags:
        - contributors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contributor"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contributor"
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request body is invalid."
                errors:
                  - field: "email"
                    detail: "The value must be a valid email."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/contributors/{user_id}/:
    parameters:
      - name: user_id
        in: path
        description: The unique identifier of the contributor.
        required: true
        schema:
          type: string
    get:
      summary: Get details of a contributor by its unique identifier.
      description: >
        Returns details of a contributor with name and id and other properties, where id is the unique identifier of the contributor.
      tags:
        - contributors
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contributor"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The contributor with the given id was not found."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    put:
      summary: Update an existing contributor.
      description: >
        Updates an existing contributor with the given details.
      tags:
        - contributors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contributor"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contributor"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The contributor with the given id was not found."
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request body is invalid."
                errors:
                  - field: "email"
                    detail: "The value must be a valid email."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    patch:
      summary: Partially update an existing contributor.
      description: >
        Partially updates an existing contributor with the given details.
      tags:
        - contributors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contributor"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contributor"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The contributor with the given id was not found."
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request body is invalid."
                errors:
                  - field: "email"
                    detail: "The value must be a valid email."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    delete:
      summary: Delete an existing contributor.
      description: >
        Deletes an existing contributor with the given id.
      tags:
        - contributors
      responses:
        204:
          description: No Content
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The contributor with the given id was not found."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/countries/:
    get:
      summary: Get list of countries supported by the OS Hub platform.
      description: >
        Returns an array of countries with name and id, where id is the ISO 3166-1 alpha-2 code of the country.
      tags:
        - countries
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after
          in: query
          description: Cursor for the pagination, needs to be value from the field used in `sort_by` param.
          required: false
          schema:
            type: string
            minLength: 2
            maxLength: 2
        - name: name
          in: query
          description: Filter using the name of the country.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: alpha_2
          in: query
          description: Filter using the ISO 3166-1 alpha-2 code of the country.
          required: false
          schema:
            type: string
            minLength: 2
            maxLength: 2
        - name: alpha_3
          in: query
          description: Filter using the ISO 3166-1 alpha-3 code of the country.
          required: false
          schema:
            type: string
            minLength: 3
            maxLength: 3
        - name: numeric
          in: query
          description: Filter using the ISO 3166-1 numeric code of the country.
          required: false
          schema:
            type: string
            minLength: 3
            maxLength: 3
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            default: alpha_2
            enum: [name, alpha_2, alpha_3, numeric]
        - $ref: "#/components/parameters/order_by"
        - name: fields
          in: query
          description: The fields to include in the response.
          style: explode
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [name, alpha_2, alpha_3, numeric]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
                example:
                  - name: "United Kingdom of Great Britain and Northern Ireland"
                    alpha_2: "GB"
                    alpha_3: "GBR"
                    numeric: "826"
                  - name: "United States of America"
                    alpha_2: "US"
                    alpha_3: "USA"
                    numeric: "840"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request query is invalid."
                errors:
                  - field: "search_after"
                    detail: "The value must be a valid id."
  /v1/sectors/:
    get:
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after
          in: query
          description: Cursor for the pagination, needs to be value from the field used in `sort_by` param.
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: Filter using the name of the sector.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            default: name
            enum: [name]
        - $ref: "#/components/parameters/order_by"
      summary: Get list of sectors that are present in the OS Hub platform.
      description: >
        Returns an array of sectors with that is aggregated from the production locations dataset.
      tags:
        - sectors
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/sector"
                example:
                  - name: "Agriculture"
                  - name: "Apparel"
                  - name: "Information"
  /v1/product-types/:
    get:
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after
          in: query
          description: Cursor for the pagination, needs to be value from the field used in `sort_by` param.
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: Filter using the name of the product type.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            default: name
            enum: [name]
        - $ref: "#/components/parameters/order_by"
      summary: Get list of product types that are present in the OS Hub platform.
      description: >
        Returns an array of product types that are aggregated from the production locations dataset.
      tags:
        - product-types
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/product_type"
                example:
                  - name: "Accessories"
                  - name: "Belts"
                  - name: "Caps"
  /v1/location-types/:
    get:
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after
          in: query
          description: Cursor for the pagination, needs to be value from the field used in `sort_by` param.
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: Filter using the name of the location type.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: processing_types.name
          in: query
          description: Filter using the processing type of the location type.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            default: name
            enum: [name]
        - $ref: "#/components/parameters/order_by"
        - name: fields
          in: query
          description: The fields to include in the response.
          style: explode
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [name, processing_types]
      summary: Get list of location types and related processing types that are supported by the OS Hub platform.
      description: >
        Returns an array of location types and related processing types that are supported by the platform.
      tags:
        - location-types
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/location_type"
                example:
                  - name: "Final Product Assembly"
                    processing_types:
                      - name: "Cutting"
                      - name: "Sewing"
                      - name: "Finishing"
                  - name: "Office / HQ"
                    processing_types:
                      - name: "Administration"
                      - name: "Management"
                      - name: "Sales"
                  - name: "Printing, Product Dyeing and Laundering"
                    processing_types:
                      - name: "Printing"
                      - name: "Dyeing"
                      - name: "Laundering"
  /v1/parent-companies/:
    get:
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after
          in: query
          description: Cursor for the pagination, needs to be value from the field used in `sort_by` param.
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: Filter using the name of the parent company.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            default: name
            enum: [name]
        - $ref: "#/components/parameters/order_by"
      summary: Get list of parent companies that are present in the OS Hub platform.
      description: >
        Returns an array of parent companies that are aggregated from the production locations dataset.
      tags:
        - parent-companies
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/parent_company"
                example:
                  - name: "Adidas AG"
                  - name: "Nike Inc."
                  - name: "Puma SE"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request query is invalid."
                errors:
                  - field: "name"
                    detail: "The value must be a non-empty string."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/production-locations/:
    get:
      summary: Get list of production locations exposed by the OS Hub platform.
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after[value]
          in: query
          description: >
            Cursor for pagination. Corresponds to the value of the field specified in the `sort_by` parameter
            from the last item of the previous page. The expected type and format depend on the `sort_by` field:

            - `name`, `address`: Text (string).


            Must be used in concert with `search_after[id]`
          required: false
          schema:
            oneOf:
              - type: string
                example: "Production location name"
                description: Text value for the `name` field.
              - type: string
                example: "Production location address"
                description: Text value for the `address` field.
        - name: search_after[id]
          in: query
          description: Cursor for the pagination. Uses os_id of the previous element.
          required: false
          schema:
            type: string
            example: CN2223250D1DTN7
            description: The unique identifier of the location. Must be used in concert with `search_after[value]`
        - name: from
          in: query
          description: Number from which to start showing the results for the pagination.
          required: false
          schema:
            type: integer
            minimum: 0
            description: The `from` and `size` parameters return results one page at a time.
        - name: query
          in: query
          description: Filter using the query string (searches across multiple fields).
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: os_id
          in: query
          description: Filter using the unique identifier of the location.
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: Filter using the name of the location.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: local_name
          in: query
          description: Filter using the local name of the location.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: description
          in: query
          description: Filter using the description of the location.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: address
          in: query
          description: Filter using the address of the location.
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 255
        - name: country
          in: query
          description: Filter using the alpha-2 code of the location.
          required: false
          schema:
            type: array
            items:
              type: string
              minLength: 2
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            default: none (best match) for all queries; `name` when use `search_after[value]` and `search_after[id]`.
            enum: [name, address]
        - order_by:
          name: order_by
          in: query
          description: The order to sort the results by.
          required: false
          schema:
            type: string
            default: none for all queries, `asc` for `sort_by` and `search_after[value]` | `search_after[id]`.
            enum: [asc, desc]
      description: >
        Returns an array of production locations with name and id and other properties, where id is the unique identifier of the location.
        Production location data for the search becomes available 15 minutes after upload to the system.
      tags:
        - production-locations
        - beta
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 0
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/location"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request query is invalid."
                errors:
                  - field: "number_of_workers"
                    detail: "The value must be a valid object with `min` and `max` properties."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    post:
      summary: Create a new location.
      description: >
        Creates a new location with the given details.
      tags:
        - production-locations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/location_source"
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/location_new"
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request body is invalid."
                errors:
                  - field: "name"
                    detail: "The value must be a non-empty string."
                  - field: "country"
                    detail: "The value must be a valid country code or name."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/production-locations/{os_id}/:
    parameters:
      - name: os_id
        in: path
        description: The unique identifier of the location.
        required: true
        schema:
          type: string
    get:
      summary: Get details of a location by its unique identifier.
      description: >
        Returns details of a location with name and id and other properties, where id is the unique identifier of the location.
      tags:
        - production-locations
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/location"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request query is invalid."
                errors:
                  - field: "os_id"
                    detail: "The value must be a valid id."
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The location with the given id was not found."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    patch:
      summary: Partially update an existing location.
      description: >
        Partially updates an existing location with the given details.
      tags:
        - production-locations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/location_source"
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/location_update"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The location with the given id was not found."
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request body is invalid."
                errors:
                  - field: "name"
                    detail: "The value must be a non-empty string."
                  - field: "country"
                    detail: "The value must be a valid country code or name."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    delete:
      summary: Delete an existing location.
      description: >
        Deletes an existing location with the given id.
      tags:
        - production-locations
      responses:
        204:
          description: No Content
          content:
            application/json:
              schema:
                example: null
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The location with the given id was not found."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/production-locations/{os_id}/contributions/:
    parameters:
      - name: os_id
        in: path
        description: The unique identifier of the location.
        required: true
        schema:
          type: string
    get:
      summary: Get list of contributions history to a location.
      description: >
        Returns an array of contributions to a location with name and id and other properties, where id is the unique identifier of the contribution.
      tags:
        - production-locations
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/location_contribution"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The location with the given id was not found."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/production-locations/{os_id}/claims/:
    parameters:
      - name: os_id
        in: path
        description: The unique identifier of the location.
        required: true
        schema:
          type: string
    get:
      summary: Get list of location claims.
      description: >
        Returns an array of claims to a location with name and id and other properties, where id is the unique identifier of the claim.
      tags:
        - production-locations
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/claim"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The location with the given id was not found."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    post:
      summary: Claim a location.
      description: >
        Claims a location with the given id.
      tags:
        - production-locations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/claim_base"
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "pending"
                    enum: ["pending", "approved", "rejected"]
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The location with the given id was not found."
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request body is invalid."
                errors:
                  - field: "job_title"
                    detail: "The job title is required."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/moderation-events/:
    get:
      summary: Get list of moderation events exposed by the OS Hub platform.
      parameters:
        - $ref: "#/components/parameters/limit"
        - name: search_after[value]
          in: query
          description: >
            description: |
            Cursor for pagination. Corresponds to the value of the field specified in the `sort_by` parameter
            from the last item of the previous page. The expected type and format depend on the `sort_by` field:

            - `created_at`, `status_change_date`, `updated_at`: ISO 8601 date and time (date-time).

            - `contributor_id`: Numeric ID (integer).

            - `contributor_name`, `name`, `address`, `source`, `country`, `status`: Text (string).


            Must be used in concert with `search_after[id]`.
          required: false
          schema:
            oneOf:
              - type: string
                format: date-time
                example: '2024-11-19T07:52:12.641297Z'
                description: ISO 8601 (YYYY-MM-DDTHH:mm:ss.ssssssZ) time format for fields like `created_at`, `status_change_date`, or `updated_at`.
              - type: string
                example: "John Doe"
                description: Text value for fields like `contributor_name`, `name`, `address`, `source`, `country`, or `status`.
        - name: search_after[id]
          in: query
          description: Cursor for the pagination. Uses moderation_id of the previous element. Must be used in concert with `search_after[value]`
          required: false
          schema:
            type: string
            example: 1f35a90f-70a0-4c3e-8e06-2ed8e1fc6810
        - name: from
          in: query
          description: Number from which to start showing the results for the pagination.
          required: false
          schema:
            type: integer
            minimum: 0
            description: The `from` and `size` parameters return results one page at a time.
        - name: contributor_id
          in: query
          description: Filter using contributor id.
          required: false
          schema:
            type: array
            items:
              type: number
        - name: os_id
          in: query
          description: Filter using the unique identifiers of the location.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: request_type
          in: query
          description: Filter using request type of production location.
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [CREATE, UPDATE, CLAIM]
        - name: source
          in: query
          description: Filter using source type of production location.
          required: false
          schema:
            type: array
            items:
              type: string
              enum: [API, SLC]
        - name: status
          in: query
          description: Filter using moderation status of production location.
          required: false
          schema:
            type: string
            default: PENDING
            enum: [PENDING, APPROVED, REJECTED]
        - name: moderation_id
          in: query
          description: Filter using the unique moderation identifier.
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: country
          in: query
          description: Filter using the alpha-2 code of the location.
          required: false
          schema:
            type: array
            items:
              type: string
              minLength: 2
              maxLength: 2
        - name: date_gte
          in: query
          description: Set starting date to filter by production location creation timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: date_lt
          in: query
          description: Set end date to filter by production location creation timestamp.
          required: false
          schema:
            type: string
            format: date-time
        - name: sort_by
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            default: none (best match) for all queries; `created_at` when use `search_after[value]` and `search_after[id]`.
            type: string
            enum:
              [                
              'created_at',
              'status_change_date',
              'updated_at',
              'contributor_id',
              'contributor_name',
              'country',
              'name',
              'address',
              'source',
              'status',
              ]
        - order_by:
          name: order_by
          in: query
          description: The order to sort the results by.
          required: false
          schema:
            type: string
            default: none for all queries, `desc` for `sort_by` and `search_after[value]` | `search_after[id]`.
            enum: [asc, desc]
      description: >
        Returns an array of moderation events.
        Moderation events data for the search becomes available 15 minutes after upload to the system.
      tags:
        - moderation-events
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/moderation_event"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              examples:
                invalid_moderation_id:
                  summary: Invalid `moderation_id`
                  value:
                    detail: "The request query is invalid."
                    errors:
                      - field: "moderation_id"
                        detail: "Moderation id must be a string with uuid format"
                invalid_status:
                  summary: Invalid `status`
                  value:
                    detail: "The request query is invalid."
                    errors:
                      - field: "status"
                        detail: "Moderation status must be one of PENDING, APPROVED or REJECTED."
                invalid_request_type:
                  summary: Invalid `request_type`
                  value:
                    detail: "The request query is invalid."
                    errors:
                      - field: "request_type"
                        detail: "Request type must be one of CREATE, UPDATE, or CLAIM."
                invalid_country:
                  summary: Invalid `country`
                  value:
                    detail: "The request query is invalid."
                    errors:
                      - field: "country"
                        detail: "Country must be a valid alpha-2 country code."
                invalid_date_gte:
                  summary: Invalid `date_gte`
                  value:
                    detail: "The request query is invalid."
                    errors:
                      - field: "date_gte"
                        detail: "The value must be a valid date string."
                invalid_date_lt:
                  summary: Invalid `date_lt`
                  value:
                    detail: "The request query is invalid."
                    errors:
                      - field: "date_lt"
                        detail: "The value must be a valid date string."
                invalid_date_range:
                  summary: Invalid `date_lt` and `date_gte`
                  value:
                    detail: "The request query is invalid."
                    errors:
                      - field: "date_lt"
                        detail: "Start date cannot be later than the end date."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/moderation-events/{moderation_id}/:
    get:
      summary: Get moderation event by id.
      parameters:
        - name: moderation_id
          in: path
          description: The unique identifier of moderation event.
          required: true
          schema:
            type: string
            format: uuid
      description: >
        Returns moderation event associated with specific id.
        Moderation events data for the search becomes available 15 minutes after upload to the system.
      tags:
        - moderation-events
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/moderation_event"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request path parameter is invalid."
                errors:
                  - field: "moderation_id"
                    detail: "Invalid UUID format."
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "Only an authorized user can perform this action."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    patch:
      summary: Change moderation event. Available only for data moderators.
      parameters:
        - name: moderation_id
          in: path
          description: The unique identifier of the moderation event.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [PENDING, APPROVED, REJECTED]
                  description: Moderation status of production location.
      description: >
        Returns updated moderation event.
        Moderation events data for the search becomes available 15 minutes after upload to the system.
      tags:
        - moderation-events
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/moderation_event"
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              examples:
                invalid_moderation_id:
                  summary: Invalid `moderation_id`
                  value:
                    detail: "The request path parameter is invalid."
                    errors:
                      - field: "moderation_id"
                        detail: "Invalid UUID format."
                invalid_status:
                  summary: Invalid `status`
                  value:
                    detail: "The request body contains invalid or missing fields."
                    errors:
                      - field: "status"
                        detail: "Moderation status must be one of PENDING, APPROVED or REJECTED."
                missing_status:
                  summary: Missing `status`
                  value:
                    detail: "The request body contains invalid or missing fields."
                    errors:
                      - field: "status"
                        detail: "This field is required."
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "Only the Moderator can perform this action."
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request path parameter is invalid."
                errors:
                  - field: "moderation_id"
                    detail: "Moderation event not found."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
  /v1/moderation-events/{moderation_id}/production-locations/:
    parameters:
      - name: moderation_id
        in: path
        description: The unique identifier of moderation event.
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - moderation-events
      summary: Create production location based on moderation event.
      description: >
        When data moderator approves a moderation event, a new production location is created based on the moderation event.
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  os_id:
                    type: string
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request path parameter is invalid."
                errors:
                  - field: "moderation_id"
                    detail: "Invalid UUID format."
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "Only the Moderator can perform this action."
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request path parameter is invalid."
                errors:
                  - field: "moderation_id"
                    detail: "Moderation event not found."
        410:
          description: Gone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request path parameter is invalid."
                errors:
                  - field: "status"
                    detail: "The moderation event should be in PENDING status."
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
    patch:
      tags:
        - moderation-events
      summary: Add a new contribution to the production location.
      description: >
        When data moderator approves a moderation event, a new contribution is added to the production location.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                os_id:
                  type: string
                  description: The unique identifier of the location.
                  example: "CN2223250D1DTN7"
              required:
                - os_id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  os_id:
                    type: string
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "Moderation event not found."
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "The request path parameter is invalid."
                errors:
                  - field: "moderation_id"
                    detail: "Moderation id must be a valid string"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
              example:
                detail: "An unexpected error occurred while processing the request."
components:
  schemas:
    claim:
      $ref: "schemas/claim.json"
    claim_base:
      $ref: "schemas/claim_base.json"
    parent_company:
      $ref: "schemas/parent_company.json"
    contributor:
      $ref: "schemas/contributor.json"
    country:
      $ref: "schemas/country.json"
    sector:
      $ref: "schemas/sector.json"
    product_type:
      $ref: "schemas/product_type.json"
    location_type:
      $ref: "schemas/location_type.json"
    processing_type:
      $ref: "schemas/processing_type.json"
    location_base:
      $ref: "schemas/location_base.json"
    location_contribution:
      $ref: "schemas/location_contribution.json"
    location:
      $ref: "schemas/location.json"
    location_new:
      $ref: "schemas/location_new.json"
    location_update:
      $ref: "schemas/location_update.json"
    location_source:
      $ref: "schemas/location_source.json"
    moderation_event:
      $ref: "schemas/moderation_event.json"
    error:
      $ref: "schemas/error.json"
  parameters:
    limit:
      name: size
      in: query
      description: The maximum number of entries to return.
      required: false
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 251
