.disclaimer {
  animation: scaleUp .5s;
  background: rgba(249, 62, 62, .1);
  border: 2px solid #f93e3e;
  border-radius: 4px;
  margin: 20px;
  padding: 10px 20px;
  max-width: 1380px;
  display: block;
  margin: 0 auto;
}
